/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f2f3b; /* Dark background */
  font-family: Arial, sans-serif;
  color: white;
}

/* App container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}
